.recommend-container {
    padding-top: 100px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.recommend-sort {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.recommend-sort li {
    margin: 10px;
    padding: 7px 10px;
    color: #555;
    font-size: 11pt;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
}
.recommend-sort li:hover {
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recommend-sort li.active {
    font-weight: bold;
    color: #8cc7a5;
    cursor: pointer;
}

#refresh-btn {
    position: absolute;
    top: 195px;
    right: 20px;
    font-size: 20pt;
    color: #333;
    background-color: #8CC7A5;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#refresh-btn:hover {
    background-color: #78B895;
    border-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.recommend-list {
    width: 900px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.recommend-product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    max-height: 240px;
}